doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://cdn.jsdelivr.net/npm/xmlbuilder2/lib/xmlbuilder2.min.js')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
    title Primer Avance
  body
    div(class="container")
      h1 Proyecto Administración de Riesgos Informáticos
    div(class="container p-3 my-3 border")
      h2 Convierte archivo .txt -> .json
      input#inputfile-txt(type='file' name='inputfile' class="form-control")
      br
      label Ingresa la key
      br
      input#key(type='text' name='key' class="form-control")
      br
      label Ingresa el delimitador
      br
      input#delimitador(type='text' name='delimitador' class="form-control")

    div(class="container p-3 my-3 border")
      br
      pre#output.
        
      br
      pre#outputjson.
      
      button(class="btn btn-outline-success")#savejsonbtn() Generar JWT
      br
      
      
      br
    div(class="container p-3 my-3 border")
      h2 JSON encriptado con JWT (token)
      pre#textoJWT
      h2 Desencriptador JWT a JSON:
      br
      label Copia y pega el token generado arriba
      br
      input#jwt-input(type='text' name='jwt-input' class="form-control")
      br
      label Ingresa la clave para desencriptar 
      br
      input#jwt-secret(type='text' name='jwt-secret' class="form-control")
      br
      br
      button(class="btn btn-outline-success")#jwtButton() Desencriptar
    
    div(class="container p-3 my-3 border")
      br
      pre#output-jwt.
        
    div(class="container p-3 my-3 border")
      h2 Convierte objeto JSON -> .txt
      input#inputfile(type='file' name='inputfile' class="form-control")
      br
      label Ingresa el delimitador
      br
      input#input-del(type='text' class="form-control")
      div
        br
        pre#json-upload-show.
          
        pre#txt-response.
          
        #savetxtbtn
    
    div(class="container p-3 my-3 border")
      h2 Convierte un archivo .txt -> .xml 
      input#txtFile(type='file' name='filename' class="form-control")
      br
      label(for='splitter') Delimitador
      br
      input#splitter(type='text' name='splitter' class="form-control")
      br
      label(for='key') Llave
      br
      input#keyXML(type='text' name='key' class="form-control")
      br
      br
      button(class="btn btn-outline-success")#button() Convierte
    
    div(class="container p-3 my-3 border")
      h2 Convierte un archivo .xml -> .txt 
      input#xmlFile(type='file' name='filename' class="form-control")
      br
      label(for='splitter') Delimitador
      br
      input#xmlSplitter(type='text' name='splitter' class="form-control")
      br
      label(for='key') Llave
      br
      input#keyTxt(type='text' name='key' class="form-control")
      br
      br
      button(class="btn btn-outline-success")#xmlButton() Convierte
    script(src='javascripts/something.js')
    script(src='javascripts/index.js')


