<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>.txt -> .json</h1>
        <input type="file" name="inputfile" id="inputfile-txt"/>
        <div>
            <br>
            <pre id="output"></pre>
            <br>
            <pre id="outputjson"></pre>
            <div id="savejsonbtn"></div>
        </div>
    </div>
    <div>
        <h1>.json -> .txt</h1>
        <input type="file" name="inputfile" id="inputfile"/>
        <input type="text" id="input-del"/>
        <div>
            <br>
            <pre id="json-upload-show"></pre>
            <pre id="txt-response"></pre>
            <div id="savetxtbtn"></div>
        </div>
    </div>
   
   
    
</body>
<script src="./index.js"></script>
</html>