doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://cdn.jsdelivr.net/npm/xmlbuilder2/lib/xmlbuilder2.min.js')
    title Document
  body
    div
    h1 .txt -> .json
    input#inputfile-txt(type='file' name='inputfile')
    input#key(type='text' name='key')
    input#delimitador(type='text' name='delimitador')
    div
      br
      pre#output.
        
      br
      pre#outputjson.
        
      #savejsonbtn
      
      br
      h2 JWT:
      pre#textoJWT

    h1 JWT -> JSON
    input#jwt-input(type='text' name='jwt-input')
    input#jwt-secret(type='text' name='jwt-secret')
    button#jwtButton() Click me
    div
      br
      pre#output-jwt.
        
    div
      h1 .json -> .txt
      input#inputfile(type='file' name='inputfile')
      input#input-del(type='text')
      div
        br
        pre#json-upload-show.
          
        pre#txt-response.
          
        #savetxtbtn
    div
      h1 .txt -> .xml 
        input#txtFile(type='file' name='filename')
        label(for='splitter') Delimitador
        input#splitter(type='text' name='splitter')
        label(for='key') Llave
        input#keyXML(type='text' name='key')
        button#button() Click me
    div
      h1 .xml -> .txt 
        input#xmlFile(type='file' name='filename')
        label(for='splitter') Delimitador
        input#xmlSplitter(type='text' name='splitter')
        label(for='key') Llave
        input#keyTxt(type='text' name='key')
        button#xmlButton() Click me
    script(src='javascripts/something.js')
    script(src='javascripts/index.js')


